
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --bg-color:#FFFFFF;
 --btnColor:#39844F;
}

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-color: var(--bg-color);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.ant-slider-rail {
  /* Styles for the slider track */
  color: red;
}

.ant-slider-track {
  /* Styles for the selected range */
  background: black;
}

.ant-slider-handle {
  /* Styles for the slider handles */
  background-color: black;
  color: red;
}